root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,iss,txt}]
end_of_line = crlf

[*.{pas,lpi,lfm,lpr}]
indent_size = 2
indent_style = space

[*.isl]
charset = false
end_of_line = false
insert_final_newline = false
trim_trailing_whitespace = false
