name: macOS Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-macos:

    runs-on: macos-11

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive

    - run: .github/build_macos.sh

    - uses: actions/upload-artifact@v3
      with:
        name: TransGUI macOS
        path: units\transgui
