name: Ubuntu Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-ubuntu:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive

    - run: .github/build_ubuntu.sh

    - uses: actions/upload-artifact@v3
      with:
        name: TransGUI Linux
        path: units\transgui
